@import url(./reset.css);

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #393939;
}

.container {
  display: flex;
  margin: 15px 30px;
}

.container_left-side {
  width: 20%;
}

.container_right-side {
  text-align: right;
  width: 80%;

}

h1 {
  font-weight: 500;
  font-size: 7rem;
  line-height: 0.9;
  text-transform: uppercase;
}

.picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.painting-year {
  font-size: 1rem;
  font-weight: 500;
}

.slider {
  display: flex;
  gap: 25px;
  overflow: hidden;

}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 18);

}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 250px;
  width: 250px;
}




@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 9));
  }
}
