@import url(./reset.css);

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #393939;
  /* background: url(../pics/original_gh.jpg); */
  /* background-size: cover; */
  /* overflow: hidden; */

}


.logo {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
}

.logo-spacing{
  letter-spacing: 0.07rem;
}

h2 {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #393939;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);

}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items:center;
  gap: 50px;
  padding-top: 100px;
  background-image: url(../pics/original_gh.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;

}



/* h1 {
  font-weight: 500;
  font-size: 7rem;
  line-height: 0.9;
  text-transform: uppercase;
} */

.picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;

}

.painting:hover {
  transform: scale(2,2);
  transition: 0.8s;
}

.details {
  font-size: 1rem;
  font-weight: 500;
  float: right;
}

.slider {
  display: flex;
  gap: 25px;
  backdrop-filter: blur(10px);
  /* overflow: hidden; */

}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  gap: 5px;
  max-width: calc(250px * 18);

}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  /* height: 250px; */
  max-width: 250px;
}

input {
  width: 250px;
}

.btn-find {
  color: white;
  background-color: #393939;
  padding: 8px 24px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
}

.search {
  border-radius: 50px;
  border: 1px solid #393939;
  padding: 1px 1px 1px 12px;
  background-color: white;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(176, 176, 176);
  opacity: 1; /* Firefox */
  font-weight: 400;

}




@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 9));
  }
}
