/* @import url(./reset.css); */

:root {
  --accent: #66cc66;
  --image: url(../images/pic.png);
}

body {
  font-family: "Montserrat", sans-serif;
  /* min-width: 1600px; */
}

.hide {
  display: none;
}

.transparent {
  color: transparent;
  opacity: 0;
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

header::before {
  content: "";
  background-color: #000;
  min-width: 100%;        /*не работает 100%*/
  height: 50px;

  position: absolute;
  z-index: -1;
}

.header__info {
  display: flex;
  padding: 10px 0 9px;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-size: 14px;
}

.header__info-left {
  display: flex;
  align-items: center;
}

.header__info-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

span {
  font-weight: 700;
}

.header__info-button-more {
  background-color: var(--accent);
  padding: 5px 10px 6px;
}

.header__info-right {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__info-right :last-child {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__info-right-country {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--image) center;
}

.header__logo {
  display: flex;
  padding: 10px 0 30px;
  margin: 0 40px;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
}

.burger-menu, .user-account {
  display: none !important;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 415px;
  height: 46px;
  padding-left: 12px;
  border-radius: 23px;
  background-color: #d9d9d9;
  font-size: 14px;
}

.search-form input {
  width: 100%;
  color: #969696;
  font-weight: 300;
}

.search-form a {
  background-color: var(--accent);
  border-radius: 0 23px 23px 0;
  border-left: 4px solid white;
  height: 46px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-icons {
  display: flex;
  align-items: center;
  gap: 35px;

  position: relative;
}

.header__logo-icons::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--accent);

  position: absolute;
  right: -13px;
  top: -13px;
}

.header__logo-icons-account {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 23px;

  font-size: 15px;
  font-weight: 700;

  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

/* MAIN SCREEN */

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}
.green {
  color: var(--accent);
}
.main__image {
  width: 100%;
  height: 423px;
}

.scroll-tabs {
  display: none;
}

/* CATEGORIES */

section {
  margin-top: 20px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}

.heading-wrapper,
.more-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.more-link {
  font-weight: 700;
  font-size: 14px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.categories__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);

  font-weight: 700;
  font-size: 16px;
}

.categories__content-card img {
  width: 175px;
  height: 145px;
  border-radius: 15px 15px 0 0;
}

.favorites__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 270px;
  padding: 20px 15px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

img.pic {
  width: 200px;
  height: 200px;
  background-image: var(--image);
}

.favorites__content-card-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.favorites__content-card-description p {
  font-weight: 400;
  font-size: 14px;

  height: 34px;
}

.card-description-rating {
  font-weight: 100;
  font-size: 14px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 15px;
}

.price span {
  font-weight: 400;
  font-size: 14px;
  color: #969696;

  margin-right: 8px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 13px;

  border: 1px solid #dadada;
  border-radius: 40px;

  font-weight: 300;
  font-size: 15px;
}

.button-add-to-card {
  padding: 14px 20px;
  border-radius: 40px;

  color: white;
  background-color: #000;

  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.button-wide {
  padding: 14px 60px;
}

/*  Shop by Brands */

.brands {
  margin-top: 123px;
}

.brands-card {
  width: 198px;
  height: 68px;
}

.brands-arrow-right {
  width: 26px;
}

/* Our Favorite Recipes */

.recipes {
  margin-top: 130px;
}

.recipes__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipes__content-card img {
  width: 340px;
  height: 277px;
  border-radius: 20px;
  margin-bottom: 23px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.recipes__content-card p {
  font-weight: 300;
  font-size: 14px;
  width: 400px;
}

p.date {
  margin-bottom: 16px;
}

/* FOOTER */

.footer {
  background-color: #000;
  color: white;
  margin-top: 75px;
  position: relative;
}

.footer ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 380px;

  background-color: #969696;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.footer__content-top {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 0 0;
}
.footer__content-top-left-menu {
  display: flex;
  gap: 30px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-menu-column ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 175px;

  font-weight: 400;
  font-size: 14px;
}

.socials {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
}
/* .socials-content {
  display: flex;
  flex-direction: column;
} */
.socials-icons {
  display: flex;
  gap: 10px;
}

.socials-icons img {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.socials-pic {
  width: 110px;
  height: 110px;
}

.email-form {
  display: flex;
  gap: 5px;
}

.email-form input {
  width: 300px;
  border-radius: 30px;
  border: 1px solid var(--accent);
  padding: 8px 15px;

  font-weight: 400;
  font-size: 14px;
}

.submit-email-button {
  color: #000;
  background-color: var(--accent);
  padding: 11px 33px;
  border-radius: 30px;

  font-weight: 700;
  font-size: 14px;
}

.footer__content-bottom {
  font-weight: 700;
  font-size: 14px;
}

.footer__content-bottom-blocks {
  display: flex;
  justify-content: space-between;
}

.blocks-left {
  display: flex;
  gap: 12px;
  position: relative;
  margin-top: 25px;
  padding-left: 120px;
}

.block {
  background: var(--image) center;
  height: 28px;
  width: 45px;
}

.block-green {
  position: absolute;
  background-color: var(--accent);
  background-image: none;

  width: 140px;
  height: 60px;
  border-radius: 30px;

  top: -15px;
  left: -8px;
}

.blocks-right {
  width: 60px;
  height: 60px;
  margin-bottom: 60px;
  border-radius: 30px;
  background-color: var(--accent);
}

.block-wide {
  width: 100px;
}
