@media (max-width: 1439px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .header__info-left,
  .header__info-right {
    display: none;
  }

  .header__info-center {
    flex-direction: column;
    text-align: center;
  }

  .header::before {
    height: 100px;
  }

  .burger-menu,
  .user-account,
  .scroll-tabs,
  .block-mobile {
    display: block !important;
  }

  .header__logo {
    position: relative;
    margin: 10px 0;
  }

  .logo {
    width: 95px;
    margin-left: -80px;
  }

  /* .search-form {
    width: 384px;
  } */

  .search-form a {
    border-left: none;
  }

  .header__logo-icons {
    gap: 8px;
  }

  .header__logo-icons::before {
    width: 12px;
    height: 12px;

    right: -5px;
    top: -3px;
  }

  .header__logo-icons-account img {
    transform: rotate(-90deg);
  }

  .search-form {
    position: absolute;
    left: -8px;
    top: 60px;
  }

  .header__nav {
    display: none;
  }

  .main__content {
    text-align: center;
    margin-top: 40px;
  }

  /* main */

  .main__image {
    height: 220px !important;
  }

  .scroll-tabs {
    margin-top: 10px;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
  }

  .categories__content h2 {
    text-align: center;
  }

  .card-wrapper {
    overflow-x: auto;
    gap: 10px;
  }

  .categories__content-card {
    min-width: 165px;
  }

  /* <!-- Shop PlantX Favorites --> */

  div.favorites__content-card {
    width: 190px;
  }

  img.pic {
    width: 150px;
    height: 150px;
  }

  .button-row {
    flex-direction: column;
  }

  .button-row > div {
    width: 150px;
    justify-content: center;
  }

  .favorites .card-wrapper {
    flex-wrap: wrap;
  }

  .favorites__content-card-description p {
    height: 50px;
  }

  .favorites__content-card-description {
    gap: 6px;
  }

  .button-wide {
    padding: 14px 20px;
  }

  /* <!-- Deals of the week --> */

  .week .card-wrapper {
    flex-wrap: wrap;
  }

  /* <!-- Shop by Brands --> */

  .brands .card-wrapper {
    overflow-x: auto;
  }

  .brands-card {
    min-width: 140px;
  }

  .recipes .card-wrapper {
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer__content-top {
    flex-wrap: wrap;
  }

  .footer__content-top-left-menu {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footer-menu-column li {
    display: none;
  }

  .socials {
    /* gap: 100px; */
  }

  .socials-pic {
    width: 80px;
    height: 80px;
  }

  .footer__content-bottom {
    text-align: center;
  }

  .email-form input {
    width: 255px;
  }

  .email-form {
    gap: 10px;
  }

  .footer ::before {
    top: 520px;
  }

  .footer__content-bottom {
    font-weight: 400;
    font-size: 14px;
  }

  .block-green {
    width: 60px;
    top: -5px;
  }

  .blocks-left {
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    padding-bottom: 5px;
  }

  .blocks-right {
    position: absolute;
    bottom: -45px;
    right: 8px;
  }
}
