td{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(36, 5, 5);
    background-color: rgb(35, 14, 53);
    transition: background-color .2s, opasity .5s;
}

td:hover {
  background-color: rgb(255, 0, 0);
  opacity: .8;
}

.odd td:nth-child(2n + 1){
    background-color: rgb(206, 206, 206);
    transition: background-color .2s, opasity .5s;
}
.even td:nth-child(2n){
    background-color: rgb(206, 206, 206);
    transition: background-color .2s, opasity .5s;
}

:is(.odd td:nth-child(2n + 1), .even td:nth-child(2n)):hover {
  background-color: rgb(255, 255, 0);
  opacity: .8;

}

.king{
    height: 0;
    width: 0;
    margin: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid;
}

.black.king{
    border-bottom-color: rgb(62, 67, 77);
    animation: changeColor 1.5s infinite ease-out alternate;

}

.white.king{
    border-bottom-color: white;

}

.king::before{
    content: '᛭';
    font-size: 30px;
    font-weight: 800;
    display: block;
    position: relative;
    top: -25px;
    left: -7px;
}

.black.king::before{
    color: rgb(62, 67, 77);
    animation: changeColor 1.5s infinite ease-out alternate;

}

.white.king::before{
    color: white;
}

.king::after{
    content: ' ';
    width: 30px;
    height: 10px;
    display: block;
    position: relative;
    top: -40px;
    left: -15px;
    border-radius: 12px;
    
}

.black.king::after{
    background-color: rgb(62, 67, 77);
    animation: changeColor 1.5s infinite ease-out alternate;

}

.white.king::after{
    background-color: white;
    
}

/* queen */

.queen{
    height: 0;
    width: 0;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 40px solid;
}

.black.queen{
    border-bottom-color: rgb(62, 67, 77);
    animation: queen 2s ease-in-out infinite alternate;
}

.white.queen{
    border-bottom-color: white;
    transition: border-bottom-color 0.5s;
}

.queen::before{
    content: ' ';
    display: block;
    position: relative;
    border-left: 10px solid;
    border-top: 10px solid; 
    border-radius: 100px;
    top: -8px;
    left: -5px;
}

.black.queen::before{
    color: rgb(62, 67, 77);
    animation: knightWhite 2s infinite alternate;

}

.white.queen::before{
    color: white;
    transition: color 0.5s;
    
}

.queen::after{
    content: ' ';
    display: block;
    position: relative;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 20px solid;
    bottom: 10px;
    left: -8px;
    
    
}

.black.queen::after{
    background-color: transparent;
    color: rgb(62, 67, 77);
    
}

.white.queen::after{
    background-color: transparent;
    color: white;
    transition: color 0.5s;

}

:is(.hover, .white.queen::after, .white.queen::before):hover {
  border-bottom-color: brown;
  color: brown;
}

/* bishop */

.bishop{
    height: 0;
    width: 0;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 40px solid;
}

.black.bishop{
    border-bottom-color: rgb(62, 67, 77);

}

.black.first {
  animation: bishop 2s ease-in-out infinite alternate;

}

.white.bishop{
    border-bottom-color: white;
}

.bishop::before{
    content: ' ';
    display: block;
    position: relative;
    border-left: 16px solid;
    border-top: 16px solid; 
    border-radius: 100px;
    top: 0px;
    left: -8px;
}

.black.bishop::before{
    color: rgb(62, 67, 77);
}

.white.bishop::before{
    color: white;
}

.bishop::after{
    content: ' ';
    display: block;
    position: relative;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid;
    bottom: 25px;
    left: -8px;   
}

.black.bishop::after{
    background-color: transparent;
    color: rgb(62, 67, 77);
}

.white.bishop::after{
    background-color: transparent;
    color: white;
    animation: changeColor 1.5s infinite ease-out alternate;

}


/* knight */

.knight{
    height: 0;
    width: 0;
    margin: auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 40px solid;
    
}

.black.knight{
    border-bottom-color: rgb(62, 67, 77);
}

.white.knight{
    border-bottom-color: white;
    animation: knightWhite 2s infinite alternate;


}

.knight::before{
    content: ' ';
    display: block;
    position: relative;
    border-left: 40px solid;
    border-top: 16px solid; 
    border-radius: 100px;
    transform: rotate(60deg);
    top: 5px;
    left: -27px;
}

.black.knight::before{
    color: rgb(62, 67, 77);
}

.white.knight::before{
    color: white;
    animation: knightWhite 2s infinite alternate;

}

.knight::after{
    content: ' ';
    display: block;
    position: relative;
    border-left: 40px solid;
    border-top: 16px solid; 
    border-radius: 100px;
    transform: rotate(15deg);
    top: -20px;
    left: -20px;
    
    
    
}

.black.knight::after{
    background-color: transparent;
    color: rgb(62, 67, 77);
}

.white.knight::after{
    background-color: transparent;
    color: white;
    animation: knightWhite 2s infinite alternate;

}


/* rook */

.rook{
    height: 0;
    width: 0;
    margin: auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 40px solid;
    animation: rook 5s infinite linear alternate;

}



.black.rook{
    border-bottom-color: rgb(62, 67, 77);
}

.white.rook{
    border-bottom-color: white;
}

.rook::before{
    content: ' ';
    display: block;
    position: relative;
    border-left: 24px solid;
    border-top: 20px solid; 
    border-radius: 4px;
    top: -3px;
    left: -12px;
}

.black.rook::before{
    color: rgb(62, 67, 77);
}

.white.rook::before{
    color: white;
}


/* pawn */

.pawn{
    height: 0;
    width: 0;
    margin: auto;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 35px solid;
}



.black.pawn{
    border-bottom-color: rgb(62, 67, 77);
    animation: pawnsBlack 1.5s infinite ease-out;

}

.white.pawn{
    border-bottom-color: white;
    animation: pawnsWhite 2.5s infinite;

}

.pawn::before{
    content: ' ';
    display: block;
    position: relative;
    border-left: 16px solid;
    border-top: 16px solid; 
    border-radius: 100px;
    top: -4px;
    left: -8px;
}

.black.pawn::before{
    color: rgb(62, 67, 77);
}

.white.pawn::before{
    color: white;
}

.pawn::after{
    content: ' ';
    display: block;
    position: relative;
    border-left: 16px solid;
    border-bottom: 5px solid;
    border-radius: 4px;
    bottom: 6px;
    left: -8px;
}

.black.pawn::after{
    background-color: transparent;
    color: rgb(62, 67, 77);
}

.white.pawn::after{
    background-color: transparent;
    color: white;
}


/* Animation */

@keyframes rook {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

@keyframes knightWhite {
  from {}
  to {
    color: rgb(117, 21, 107);
    border-bottom-color: rgb(117, 21, 107);
  }
}

@keyframes changeColor {
  from {}
  to {
    color: rgb(104, 227, 255);
    border-bottom-color: rgb(104, 227, 255);
  }
}

@keyframes pawnsBlack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    transform: translate(0, 150%) scale(1.5);
    
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
    
  }
}

@keyframes pawnsWhite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    transform: translate(0, -250%) scale(1.5);
    opacity: 1;
    
    border-radius: 80%;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

@keyframes queen {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-310%, 0);
  }
}

@keyframes bishop {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(310%, 0);
  }
}