@import url(./reset.css);
@import url(./grid12.css);
@import url(./media.css);


:root {
  --accent: #66cc66;
  --image: url(../images/pic.png);
}

body {
  font-family: "Montserrat", sans-serif;
  /* min-width: 1600px; */
}

.hide {
  display: none;
}

.transparent {
  color: transparent;
  opacity: 0;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

header::before {
  content: "";
  background-color: #000;
  min-width: 100%; /*не работает 100%*/
  height: 50px;

  position: absolute;
  z-index: -1;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 9px;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-size: 14px;
}

.header__info-left {
  display: flex;
  align-items: center;
}

.header__info-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

span {
  font-weight: 700;
}

.header__info-button-more {
  background-color: var(--accent);
  padding: 5px 10px 6px;
}

.header__info-right {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__info-right :last-child {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__info-right-country {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--image) center;
}

.header__logo {
  display: flex;
  padding: 10px 0 30px;
  margin: 0 40px;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
}

.burger-menu,
.user-account,
.block-mobile {
  display: none;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 415px;
  height: 46px;
  padding-left: 12px;
  border-radius: 23px;
  background-color: #d9d9d9;
  font-size: 14px;
}

.search-form input {
  width: 100%;
  color: #969696;
  font-weight: 300;
}

.search-form a {
  background-color: var(--accent);
  border-radius: 0 23px 23px 0;
  border-left: 4px solid white;
  height: 46px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-icons {
  display: flex;
  align-items: center;
  gap: 35px;

  position: relative;
}

.header__logo-icons::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--accent);

  position: absolute;
  right: -13px;
  top: -13px;
}

.header__logo-icons-account {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 23px;

  font-size: 15px;
  font-weight: 700;

  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  margin-bottom: 40px;
}

/* product card */

.product-card__content {
  display: flex;
  flex-direction: column;
}

.product-card__content-breadcramps {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  font-weight: 300;
  font-size: 14px;
  margin-bottom: 25px;

}

.product-card__content-product {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.product-card__content-product-image {
  display: flex;
  gap: 40px;
}

.content-product-image-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-left {
  background: url(../images/pic.png);
  background-position: center;
  width: 70px;
  height: 93px;
}

.content-product-image-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.image-right {
  background: url(../images/pic.png);
  background-size: cover;
  width: 360px;
  height: 360px;
}

.product-card__content-product-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h6 {
  font-weight: 300;
  font-size: 14px;
}

h1 {
  font-size: 28px;
}

div p.price {
  font-weight: 500;
  font-size: 20px;
}

.margin-10 {
  margin-bottom: 10px;
}

.margin-20 {
  margin-bottom: 20px;
}

.margin-25 {
  margin-bottom: 25px;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

select.form-container {
  border: 2px solid #D9D9D9;
  border-radius: 40px;
  padding: 14px 110px 14px 12px;
  

  font-weight: 700;
  font-size: 14px;

  /* position: relative; */
}

form.dropdown {
  display: flex;
  flex-direction: column;
}

div.form-container {
  border: 2px solid #D9D9D9;
  border-radius: 40px;
  padding: 14px 12px 15px 12px;

  display: flex;
  gap: 92px;
}

div form.subscription {
  width: 244px;
}

.subtotal {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.price-subtotal {
  font-weight: 500;
  font-size: 28px;
  max-width: 244px;
}

.button-add-to-cart {
  display: flex;
  text-align: center;
  align-items: center;
  color: #fff;
  background: #000;
  border-radius: 40px;
  font-weight: 700;
  font-size: 15px;
  padding: 12px 35px;
}