/* reset */
*,
p,
h1,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
}

/* Variabes */

:root {
  --white: #fff;
  --black: #000;
}

body {
  position: relative;
  background: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: var(--white);
  height: 100vh;
  text-align: center;
  font-size: 18px;
}

.background {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 950px;

  border: 3px solid rgb(13, 0, 25);
  border-radius: 16px;
  padding: 20px;
  background: rgba(13, 0, 25, 0.4);
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

h1 {
  font-size: 2.6em;
  font-weight: 500;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
}

/*hangman*/

.man {
  position: relative;
  width: 300px;
  height: 350px;
  left: 210px;
  top: 360px;
  /* border: 2px solid white; */
}

#rope {
  position: absolute;
  top: -70px;
  left: 160px;
}
#body {
  position: absolute;
  top: 90px;
  left: 156px;
}
#left_arm {
  position: absolute;
  top: 100px;
  left: 114px;
  z-index: -1;
}
#right_arm {
  position: absolute;
  top: 100px;
  left: 160px;
  z-index: -1;
}
#left_leg {
  position: absolute;
  top: 224px;
  left: 107px;
  z-index: -1;
}
#right_leg {
  position: absolute;
  top: 224px;
  left: 157px;
}
#head {
  position: absolute;
  top: 0;
  left: 116px;
}

/*alphabet*/

#alphabet {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#alphabet li {
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.8);
  color: var(--black);
  cursor: pointer;
  border-radius: 6px;
  border: solid 2px var(--white);
}

li:hover {
  opacity: 0.8;
  color: var(--white);
}

#my-word {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#my-word li {
  list-style: none;
  font-size: 1.6em;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

button {
  text-decoration: none;
  width: 200px;
  background: var(--white);
  color: var(--black);
  border: solid 2px var(--white);
  border-radius: 8px;
  font-size: 1.2em;
  padding: 18px 0;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px var(--white);
}

.hide {
  display: none;
}

.disabledButton {
  pointer-events: none;
  opacity: 0.4;
}

@media (max-width: 2560px) {
  .man {
    left: 350px;
    top: 460px;
  }

@media (max-width: 2300px) {
  .man {
    left: 300px;
    top: 420px;
  }
@media (max-width: 2000px) {
  .man {
    left: 220px;
    top: 360px;
  }

}
@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}
