/* Reset styles */

* {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

/* Variables */

:root {
  --accent-orange: #f07c62;
  --accent-yellow: #ffbc11;
  --accent-green: #02c173;
  --black: #17120f;
  --text-grey: #a5a195;
}

/* Main */

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  background: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 170px 0;
}

.background {
  width: 50%;
  height: 50%;
  z-index: -1;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dashboard {
  display: flex;
  border-radius: 16px;
  background-color: white;
  margin-top: auto;
}

nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 40px 54px 58px 52px;
  border-radius: 16px;
  background: var(--black);
  color: var(--text-grey);
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.logo span {
  color: var(--accent-orange);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 181px;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

li span {
  color: white;
  font-weight: 700;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 8px;
}

.name {
  font-size: 14px;
  color: white;
  margin-bottom: 2px;
}

.job-title {
  font-size: 12px;
  margin-bottom: 24px;
}

.profile__icons {
  display: flex;
  gap: 16px;
}

.icons-border {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

/* Main header */

main {
  padding: 32px 48px;
  color: var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

form {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 430px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 14px;
}

input {
  width: 100%;
}

.header-icons {
  border-color: rgba(0, 0, 0, 0.1);
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  background: var(--black);
  border-radius: 8px;
  color: white;
}

/* Main chart */

.chart {
  display: flex;
  gap: 24px;
  margin-bottom: 44px;
}

.chart__visual {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 23px;
}

.table__row {
  display: flex;
  align-items: baseline;
  gap: 15px;
  font-size: 12px;
  color: var(--text-grey);
}

.row-line {
  height: 1px;
  width: 767px;
  background: rgba(0, 0, 0, 0.1);
}

.table__footer {
  width: 767px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-grey);
}

.chart-line-red {
  position: absolute;
  top: 55px;
  right: 15px;
}

.chart-line-yellow {
  position: absolute;
  top: 75px;
  right: 15px;
}

.pointer {
  position: absolute;
  right: 272px;
  top: -33px;
}

.pointer-caption {
  position: relative;
}

.pointer-caption p {
  position: absolute;
  top: 5px;
  left: 52px;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-grey);
}

.pointer-caption span {
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--black);
  top: 20px;
  left: -8px;
}

.pointer-line {
  position: absolute;
  top: 85px;
  left: 70px;
}

.chart__numbers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chart__numbers-card {
  display: flex;
  padding: 20px;
  gap: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.numbers-card-icon {
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(255, 188, 17, 0.1);
}

.blue {
  background: rgba(81, 192, 235, 0.1);
}

.green {
  background: rgba(2, 193, 115, 0.1);
}

.numbers-card-caption {
  width: 142px;
}

.numbers-card-caption p {
  font-size: 12px;
  color: var(--text-grey);
  margin-bottom: 1px;
}

.numbers-card-caption span {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

/* Main map */

.map {
  position: relative;
  height: 338px;
  border-radius: 16px;
  background-image: url(./Images/map.jpg);
  background-size: cover;
}

.map .home,
.bag-left,
.bag-right {
  padding: 16px;
  border-radius: 50%;
}

.home {
  position: absolute;
  background-color: var(--accent-yellow);
  top: 40px;
  left: 90px;
}

.bag-left {
  position: absolute;
  top: 160px;
  left: 315px;
  background-color: var(--accent-orange);
}

.bag-right {
  position: absolute;
  top: 80px;
  right: 80px;
  background-color: var(--accent-orange);
}

.map::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 250px;
  right: 340px;
  background-color: var(--accent-yellow);
}

.map::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 266px;
  right: 356px;
  background-color: white;
  z-index: 1;
}

.location {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 336px;
  background-color: var(--black);
  border-radius: 8px;
  left: 555px;
  top: 80px;
  z-index: 2;
}

.location::before {
  position: absolute;
  content: "";
  width: 296px;
  height: 12px;
  border-radius: 10px;
  bottom: 20px;
  left: 20px;
  background-color: #666051;
}

.location::after {
  position: absolute;
  content: "";
  width: 222px;
  height: 12px;
  border-radius: 10px 0 0 10px;
  bottom: 20px;
  left: 20px;
  background-color: var(--accent-green);
}

.map__location-header {
  display: flex;
  margin: 20px 20px 48px;
  gap: 20px;
  color: white;
}

.location img {
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.location-header-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.location-header-description-details {
  display: flex;
  gap: 16px;
}

.location-header-description p {
  font-weight: 700;
}

.apartment-details span {
  font-size: 12px;
  color: var(--text-grey);
}

.apartment-details p {
  font-weight: 500;
}

.map__location-header::after {
  position: absolute;
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 18px solid var(--black);

  bottom: -15px;
  left: 155px;
}

.map__zoom-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  right: 32px;
  bottom: 32px;
}

.map-arrow {
  margin-bottom: 16px;
}
